div {
  /* Fuente */
  font-family: Ubuntu, Arial;
  font-size: 20px;

  /* Tamaño */
  width: 100px;
  height: 100px;

  /* Colores */
  background-color: blue;
  color: white;

  /* Alineación */
  text-align: center;

  border-radius: 20px;
}
