div {
  /* Fuente */
  font-family: Ubuntu;
  font-size: 20px;

  /* Tamaño */
  width: 100px;
  height: 100px;

  /* Colores */
  background-color: blue;
  color: white;
  
  /* Alineación */
  text-align: center;

  border-radius: 20px;
}

.cajita {
  background-color: red;
}

/* div.violet {
  background-color: peru;
} */

/* .cajita.violet {
  background-color: darkturquoise;
} */

.violet {
  background-color: darkviolet;
}

#yellow {
  background-color: yellow;
  color: black;
}